/*  your css code here. If applicable */
.head{
	width:150px;
	height:150px;
	margin:50px;
	background-color:#a4d9eb;
	border:5px solid #9bbcc2;
	border-radius: 20px;
}
.light{
	position:top;
}
.bulb{
	width:30px;
	height:30px;
	background-color:#ffa500;
	border-radius:100px;
}
.stick{
	width:10px;
	height:15px;
	background-color:#808080;
	
}
.ears{
	width:10px;
	height:50px;
	background-color:#c90a0a;
	
}
.ear{
	width:30px;
	height:30px;
	
}
.eyes{
	width:30px;
	height:30px;
	
}
.eye{
	background-color:white;
	display:flex;
	justify-content:space between;
	border:5px solid #00b3ff;
}

